@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
.section_title{
  font-weight: 800;
}

          /* START ABOUT ME  */
#about_me_container{
  background-color: #707070;
  padding: 20px;
}

.about_me{
  width: 30%;
  margin-left: 35%;

}

.text_size{
  font-size: 20px;
  color: white;
}
          /* END ABOUT ME */


          /* START EXPERTISE  */
#expertise_container{
  background-color: #505050;
  padding: 20px;
}

.icon_images{
  width: 100px;
}


.column_attributes {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
}
          /* END EXPERTISE */


          /* START TITLE*/


/* animation code attached to title */
@keyframes example {
  from {background-color: 	#505050;}
  to {background-color: #707070;}
}
.title {
  background-color: #505050;
  animation-name: example;
  animation-delay: 1s;
  animation-duration: 2s;
  /* animation-iteration-count: infinite */
}

/* the animation code, attached to profile_pic */
@keyframes pic {
  0%   {left:0px; top:0px;}
  25%  {left:10%; top:0px;}
  50%  {left:10%; top:10%;}
  75%  {left:0px; top: 10%;}
  100% {left:0px; top:0px;}
}
.profile_image {
  position: relative;
  animation-name: pic;
  animation-duration: 4s;
  margin: 20px;
}

.name{
  color: black;
  /* letter-spacing: 100px; */
  /* font-size: 100px; */
  /* font-weight: 800; */
}

/* for name change effect */
@keyframes name {
  from {color: 	#505050;}
  to {color: black;}
}
.name {
  color: #0e0808;
  animation-name: name;
  animation-duration: 10s;
  /* animation-iteration-count: infinite */
}
.profile_image{
  border-radius: 50%; 
  width: 300px;
}
          /* END TITLE */


          /* START NAVBAR */
#navbar_container{
  background-color: #505050;
}
.navbar_alignment{
  display: flex;
    justify-content: space-evenly;
}

.nav-link{
  font-size:larger;
  color: rgb(0, 255, 157);
}
          /* END NAVBAR */


          /* START PROJECTS */
#projects_container{
  background-color: #707070;
  padding-bottom: 40px;
  padding-right: 10%;
}

.personal_projects_title{
  padding-top: 40px;
}

.row{
  display: flex;
  align-items: center;
}

.column{
  width:fit-content;
  justify-content: center;
  align-items: center;
  margin-left: 10%; 
  padding-top: 20px;
}

.project_images{
  display: block;
  width: 500px;
  height: 600px;
    opacity: 1;
    border-radius: 2%;
}

.image_div{
  position:relative;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  width: 500px;
  height: 600px;
justify-content: space-evenly;
border-radius: 40%;
}

.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 2%;
}

.image_overlay--blur{
  backdrop-filter: blur(5px);
}
.image_overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
  
}

.image_overlay:hover{
  opacity: 1;
}

.image_overlay:hover > *{
  transform: translateY(0px);
}

.image_title{
  font-size:  2em;
  font-weight: bold;
}

.image_description{
  font-size: 1.25em;
  margin-top:  0.25em;;
}

.project_button{
border-width: 3px;
transition-duration: .5s;
}
/* for changing color effect when hovering over button */
.project_button:hover{
  background-color: rgb(0, 255, 157);
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_text{
padding-top: 10px;
font-weight: 700;
}
          /*  END PROJECT */


          /* START CONTACT INFO */
#contact_info_container{
  background-color: #505050;
  padding: 10px;
}

.info_table{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.contact_info{
  margin: 0px 50px 0px 50px;
}
.social_links{
  display: flex;
  justify-content: center;
}

.social_link{
  margin: 0px 30px 0px 30px;
  border-radius: 10%;
  width: 50px;
  height: 50px;
}
.social_images{

  width: 50px;
  height: 50px;
}

          /* END CONTACT INFO */