
.navbar_alignment{
  display: flex;
    color: rgb(0, 255, 157);
    justify-content: space-evenly;
}

.profile_image{
  border-radius: 50%;
  width: 300px;
}

.name{
  letter-spacing: 100px;
  font-size: 100px;
  font-weight: 800;
}
/* the animation code, attached to profile_pic */
@keyframes pic {
  0%   {left:0px; top:0px;}
  25%  {left:500px; top:0px;}
  50%  {left:500px; top:500px;}
  75%  {left:0px; top:500px;}
  100% {left:0px; top:0px;}
}
.profile_image {
  position: relative;
  animation-name: pic;
  animation-duration: 5s;
}
/* animation code attached to title */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
.title {
  background-color: red;
  animation-name: example;
  animation-delay: 1s;
  animation-duration: 4s;
  /* animation-iteration-count: infinite */
}

.about_me{
  width: 40%;
  margin-left: 40%;
}

